.menuwrap {width:960px;height:39px; margin:0px auto; font-family:arial; font-size:12px;}
.menu { float:left; margin:0px; padding:0px; list-style:none; }
.menu ul { float:left; margin:0px; padding:0px; list-style:none;}
.menu li { float:left; margin:0px; padding:0px; list-style:none;}
.menu li a {text-align:center; margin:0px; padding:11.5px 16px; text-transform:uppercase; text-decoration:none; display:block; color:#fff; font-weight:bold; border-right:1px solid #afafaf;border-left:1px solid #c5c5c5; -moz-transition:0.3s ALL 0s ease; -webkit-transition:0.3s ALL 0s ease; -o-transition:0.3s ALL 0s ease;}
.menu li:hover>a,.menu li a:hover {background: #ffffff; -moz-transition:0.3s ALL 0s ease; -webkit-transition:0.3s ALL 0s ease; -o-transition:0.3s ALL 0s ease;
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); color:#333;}
.menu li li a {color:#000; text-align:left; padding:5px; border:none; border-bottom:1px dashed #e3e3e3; text-transform:capitalize; font-weight:normal; -moz-transition:0.3s ALL 0s ease; -webkit-transition:0.3s ALL 0s ease; -o-transition:0.3s ALL 0s ease;}
.menu li li a:hover { background:#f5f5f5; -moz-transition:0.3s ALL 0s ease; -webkit-transition:0.3s ALL 0s ease; -o-transition:0.3s ALL 0s ease; text-indent:7px;}
.menu li ul { position:absolute; z-index:9999; left:-666em; padding:7px; margin:0px; height:auto; width:190px; background:#e3e3e3; -moz-border-radius:0px 0px 12px 12px;-o-border-radius:0px 0px 12px 12px;-webkit-border-radius:0px 0px 12px 12px;}
.menu li ul a {min-width:180px; }
.menu li ul ul {margin :-41.5px 0 0 165px;}

.menu li:hover ul ul,
.menu li:hover ul ul ul,
.menu li.sfhover ul ul,
.menu li.sfhover ul ul ul {left:-999em;}

.menu li:hover ul,
.menu li li:hover ul,
.menu li li li:hover ul,
.menu li.sfhover ul,
.menu li li.sfhover ul,
.menu li li li.sfhover ul{left:auto;}

.menu li:hover,
.menu li.sfhover{position:static;}